body {
  font: 16px/1.5 verdana, helvetica-neue, helvetica, arial, san-serif;
  background: white;
  color: black; #####ececec;
  background-color:rgba(55,30,100,0.5);
###  background-color:rgba(50,60,90,0.5);
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: green; ### #ccc;
  text-decoration: none;
}
 
a:hover {
  color: black;  #ececec;
  text-decoration: underline;
}
 
#main {
  width: 960px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
}
header {
  padding: 0 10px;
  overflow: hidden;
}
h1 {
  margin: 0;
}
 
nav ul, ul.entries {
  list-style-type: none;
}
nav li a {
  float: left;
  margin: 5px; 
}
.content {
  padding: 10px;
}
 
ul.entries li {
  position: relative;
  margin: 10px auto;
  padding: 10px;
  background: #ececec;
  width: 800px;
}
 
ul.entries img {
  width: 800px;
}
 
ul.entries l1 h3 {
  position: absolute;
  top: 18px;
  left: 17px;
  font-size: 2em;
}

ul.entries a {
  color: black; #####ececec;
}
ul.entries a:hover {
  color: #fff;
}
 
footer {
  font-size: 0.65em;
  text-align: center;
}

