---
layout: default
---
 
<div class="row-fluid">
  <div class="span9">
  <ul class="entries">

    {% for post in site.posts %}
      <div class="hero-unit">
        <p>
           <h3>
             <!--    <a> <img src="{{ post.image }}" /> -->
              <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a>
           </h3>
           {{ post.date | date_to_string }} - {{site.author}}
       </p>
        <p>{{ post.content | strip_html | truncatewords: 55 }}</p>
        <p><a href="{{ BASE_PATH }}{{ post.url }}">Read more ...</a></p>
      </div>
    {% endfor %}
   </ul>
  </div>
  <div class="span3">
 <h3>Timeline</h3> 
<ul class="posts">
  {% for post in site.posts %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>
  </div>
</div>



